.containerBox {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111010;
  z-index: 99999;
}

.high {
  color: rgb(115, 147, 180);
}
.wrapper {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* left */
.left {
  flex: 1;
}
.title {
  text-decoration: none;
  color: rgb(128, 126, 121);
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
}

/*center*/
.center {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
}
.listItem {
  font-size: 18px;
  color: rgb(115, 147, 180);
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  transition: 150ms all;
}
.listItem:hover {
  color: rgb(137, 137, 137);
  border: 2px solid rgb(115, 147, 180);
  padding: 5px;
  border-radius: 10px;
  transition: all 150ms;
}
.listItem > a {
  text-decoration: none;
  color: inherit;
}

/* right */
.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.cartContainer {
  display: flex;
  position: relative;
  text-decoration: none;
  color: inherit;
}

.cartIcon {
  font-size: 24px;
  cursor: pointer;
  color: rgb(177, 167, 167);
}
.userIcon {
  font-size: 24px;
  cursor: pointer;
  color: rgb(177, 167, 167);
}

.cartQuantity {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: blueviolet;
  bottom: 0.75rem;
  left: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 14px;
  color: rgb(177, 167, 167);
}
.Logout {
  outline: none;
  border: none;
  background-color: rgb(115, 147, 180);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  border: 2px solid rgb(144, 140, 140);
  font-size: 16px;
  margin-left: 1rem;
  cursor: pointer;
  padding: 6px;
  transition: 150ms all;
}
.Logout:hover {
  background-color: #111010;
  color: white;
  border: 2px solid whitesmoke;
}

/* Add a breakpoint for screens smaller than 768px */
@media screen and (max-width: 950px) {
  .wrapper {
    width: 95%;
  }
  .list {
    gap: 5px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .listItem {
    font-size: 16px;
  }
  .cartIcon, .userIcon {
    font-size: 20px;
  }
  .Logout {
    font-size: 14px;
    padding: 4px;
    margin-left: 0.5rem;
  }
}
/* Add a breakpoint for screens smaller than 480px */
@media screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
    flex-wrap: wrap;
  }
  .center {
    flex: 2;
    margin-top: 0;
  }
  .left, .right {
    display: none;
  }
 
  .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .listItem {
    font-size: 14px;
  }
  .cartIcon, .userIcon {
    font-size: 18px;
  }
  .Logout {
    font-size: 12px;
    padding: 2px;
    display: flex;
    margin-left: 0.25rem;
  }
}